In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("kc_house_data1_cleaned.csv")
data.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_above,grade,price
0,7129300520,20141013T000000,3,1.00,1180,1180,7,221900.0
1,6414100192,20141209T000000,3,2.25,2570,2170,7,538000.0
2,5631500400,20150225T000000,2,1.00,770,770,6,180000.0
3,2487200875,20141209T000000,4,3.00,1960,1050,7,604000.0
4,1954400510,20150218T000000,3,2.00,1680,1680,8,510000.0

In [3]:
data.shape

(21545, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21545 entries, 0 to 21544
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           21545 non-null  int64
 1   date         21545 non-null  object
 2   bedrooms     21545 non-null  int64
 3   bathrooms    21545 non-null  float64
 4   sqft_living  21545 non-null  int64
 5   sqft_above   21545 non-null  int64
 6   grade        21545 non-null  int64
 7   price        21545 non-null  float64
dtypes: float64(2), int64(5), object(1)
memory usage: 1.3+ MB

In [5]:
data.isnull().sum()

id             0
date           0
bedrooms       0
bathrooms      0
sqft_living    0
sqft_above     0
grade          0
price          0
dtype: int64

In [6]:
X = data[['bedrooms','bathrooms','sqft_living','sqft_above','grade']]

In [7]:
y = data['price']

In [26]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,
                                               random_state=42)

In [27]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [28]:
y_pred = reg.predict(X_test)

In [29]:
print('Coefficients: \n', reg.coef_)
print('Intercept: \n', reg.intercept_)

Coefficients:
 [-3.61854579e+04 -2.92432866e+04  2.57707157e+02 -7.91492003e+01
  1.09816622e+05]
Intercept:
 -515606.6759922366

In [30]:
from sklearn import metrics
print(metrics.mean_squared_error(y_test, y_pred))

60870624363.65547

In [31]:
metrics.r2_score(y_test, y_pred)

0.5453632823238477